{% extends "base.html" %}

{% block title %}Tableau de bord Secrétaire{% endblock %}

{% block content %}
  <div class="max-w-7xl mx-auto px-6 py-12">
    <h1 class="text-4xl font-semibold text-red-700 mb-6">Bienvenue {{ user.username }}</h1>

    <div class="space-y-6">
      <div class="bg-gray-300 rounded-lg shadow-md p-6">
        <h2 class="text-2xl font-semibold text-blue-500 mb-4">Gérer les Comptes Étudiants/Instructeurs</h2>
        <p><a href="{% url 'accounts:account_list' %}" class="text-green-700 hover:text-red-700 transition">Gérer les comptes</a></p>
      </div>

      <div class="bg-gray-300 rounded-lg shadow-md p-6">
        <h2 class="text-2xl font-semibold text-blue-500 mb-4">Consulter le Planning Général</h2>
        <p><a href="{% url 'appointments:general_schedule' %}" class="text-green-700 hover:text-red-700 transition">Voir le planning général</a></p>
      </div>

      <div class="bg-gray-300 rounded-lg shadow-md p-6">
        <h2 class="text-2xl font-semibold text-blue-500 mb-4">Ajouter des Heures de Cours</h2>
        <p><a href="{% url 'lessonpackages:manage' %}" class="text-green-700 hover:text-red-700 transition">Ajouter des heures de cours aux étudiants</a></p>
      </div>

      <div class="bg-gray-300 rounded-lg shadow-md p-6">
        <h2 class="text-2xl font-semibold text-blue-500 mb-4">Liste des Étudiants</h2>
        <p><a href="{% url 'accounts:account_list' %}" class="text-green-700 hover:text-red-700 transition">Consulter les fiches des étudiants</a></p>
      </div>
    </div>
  </div>
{% endblock %}
