# Python cache
__pycache__/
*.pyc

# SQLite database
db.sqlite3

# Environnements
.env
.env.local
venv/
env/

# Django migrations cache
*/migrations/__pycache__/

# IDE
.vscode/
.idea/

# Systèmes
.DS_Store
Thumbs.db

# Node.js
node_modules/

#.env
.env.local