{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto p-6 max-w-lg">
    <h2 class="text-2xl font-bold text-center mb-6">Réinitialiser votre mot de passe</h2>

    <form method="POST" class="space-y-6">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="text-red-600">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div>
            <label class="block text-lg font-medium text-gray-700">Nouveau mot de passe</label>
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
                <ul class="text-red-600 text-sm">
                    {% for error in form.new_password1.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            <label class="block text-lg font-medium text-gray-700">Confirmer le mot de passe</label>
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
                <ul class="text-red-600 text-sm">
                    {% for error in form.new_password2.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>


        <div class="text-center">
            <button type="submit" class="w-full py-3 bg-blue-600 text-white font-semibold rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
                Changer le mot de passe
            </button>
        </div>
    </form>
</div>
{% endblock %}
